.navbar-wrap {
    -webkit-box-shadow: 0 8px 6px -6px #1A1A1A;
    -moz-box-shadow: 0 8px 6px -6px #1A1A1A;
    box-shadow: 0 8px 6px -6px #1A1A1A;
}

.menu-wrap {
    margin-left: 580px;
}

.menu-item {
    margin-right: 50px;
}

.text-align-center {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.main-text-center {
    font-size: 18px;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}

.main-text-justify {
    font-size: 18px;
    text-align: justify;
    padding-left: 75px;
    padding-right: 75px;
}

.main-text-justify p {
    text-indent: 50px;
}

#header-wrap {
    margin-top: 0;
    padding-top: 400px;
    text-align: center;
    background-position: center center;
    min-height: 400px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table-responsive {
    overflow: hidden;
}

.table-fixed-header tbody {
    display: block;
    max-height: 250px;
    overflow: auto;
}

.table-fixed-header thead, .table-fixed-header tbody tr {
    display: table;
    width: 100%;
    position: relative;
}

.table-fixed-header thead {
    width: calc(100% - 1em)
}

.dish-info {
    font-size: 17px;
    margin-right: 10px;
    margin-top: 10px;
}

.dish-property {
    padding-left: inherit;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-400 {
    margin-left: 400px;
}

.margin-left-80 {
    margin-left: 80px;
}

.margin-left-60 {
    margin-left: 60px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-200 {
    margin-right: 200px;
}

.margin-right-170 {
    margin-right: 170px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.width-100per {
    width: 100%;
}

.row-header-font {
    font-size: 25px;
}

.modal-buttons-left {
    float: left
}

.modal-buttons-right {
    float: right
}

.btn-main {
    color: #FFFFFF;
    background-color: #00C3D9;
    border-color: #00B3C9;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
    color: #FFFFFF;
    background-color: #05729f;
    border-color: #05728f;
}

.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
    background-image: none;
}

.btn-main.disabled,
.btn-main[disabled],
fieldset[disabled] .btn-main,
.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled:active,
.btn-main[disabled]:active,
fieldset[disabled] .btn-main:active,
.btn-main.disabled.active,
.btn-main[disabled].active,
fieldset[disabled] .btn-main.active {
    background-color: #05738f;
    border-color: #05728f;
}